<style>
    .zhen{
        width: 20vw;
        height: 20vh;
        border: 1px solid #ccc;
    }
</style>
<include file="Public/min-header" />
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回管理员列表"><i class="fa fa-reply"></i></a>
                <a href="javascript:;" class="btn btn-default" data-url="http://www.tp-shop.cn/Doc/Index/article/id/1001/developer/user.html" onclick="get_help(this)"><i class="fa fa-question-circle"></i> 帮助</a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 添加管理员</h3>
                </div>
                <div class="panel-body ">
                    <!--表单数据-->
                    <form method="post" id="adminHandle" action="{:U('Agent/adminHandle')}">
                        <!--通用信息-->
                        <div class="tab-content col-md-10">
                            <div class="tab-pane active" id="tab_tongyong">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="col-sm-2">用户名：</td>
                                        <td class="col-sm-8">
                                            <input type="text" class="form-control" name="user_name" value="{$info.user_name}" >

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">姓名：</td>
                                        <td class="col-sm-8">
                                            <input type="text" class="form-control" name="name" value="{$data[0].user_name}" >

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">身份证号码：</td>
                                        <td class="col-sm-8">
                                            <input type="text" class="form-control" name="idcard" value="{$data[0].idcard}" >

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">正面：</td>
                                        <td class="col-sm-8">
                                                <div class="zhen" onclick="file('file')">
                                                    <img id="portrait" src="__PUBLIC__/images/1110_03.png" width="100%" height="100%" >
                                                    <input type="file" name="img1" class="file" style="display: none"  id="file"/>
                                                    <input type="hidden" class="input-sm" name="img1" id="img1" value="{$data[0].img1}">

                                                    <script type="text/javascript">
                                                        function file(elementId) {
                                                            document.getElementById(elementId).click()
                                                        }
                                                        $("#file").change(function () {
                                                            var this_=this
                                                            var file = this_.files[0];
                                                            if (window.FileReader) {
                                                                var fr = new FileReader();
                                                                fr.onloadend = function(e) {
                                                                    document.getElementById("portrait").src = e.target.result;
                                                                };
                                                                fr.readAsDataURL(file);
                                                            }
                                                            var formData = new FormData($( "#adminHandle" )[0]);
                                                            $.ajax({
                                                                url: "{:U('Admin/Agent/pass_img1')}" ,
                                                                type: 'POST',
                                                                data: formData,
                                                                async: false,
                                                                cache: false,
                                                                contentType: false,
                                                                processData: false,
                                                                success: function (returndata) {
                                                                    if(returndata=="上传失败"){
                                                                        alert("上传失败")
                                                                        setTimeout("   $(\"#portrait\").attr('src',\"__PUBLIC__/images/1110_03.png\")",10);
                                                                    }else{
                                                                        $('#portrait, #img1').val(returndata);
                                                                        alert('上传成功');
                                                                    }
                                                                },
                                                                error: function (returndata) {
                                                                    console.log((returndata));
                                                                }
                                                            });
                                                        })
                                                    </script>
                                                </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-2">反面：</td>
                                        <td class="col-sm-8">
                                                <div class="zhen" onclick="file('fil')">
                                                    <img id="portrai" src="__PUBLIC__/images/1110_03.png" width="100%" height="100%" >

                                                    <input type="file" name="img2"  class="file" style="display: none"  id="fil"/>
                                                    <input type="hidden" class="input-sm" name="img2" id="img2" value="{$data[0].img2}">

                                                    <script type="text/javascript">
                                                        function file(elementId) {
                                                            document.getElementById(elementId).click()
                                                        }
                                                        $("#fil").change(function () {
                                                            var this_=this
                                                            var file = this_.files[0];
                                                            if (window.FileReader) {
                                                                var fr = new FileReader();
                                                                fr.onloadend = function(e) {
                                                                    document.getElementById("portrai").src = e.target.result;
                                                                };
                                                                fr.readAsDataURL(file);
                                                            }
                                                            var formData = new FormData($( "#adminHandle" )[0]);
                                                            $.ajax({
                                                                url: "{:U('Admin/Agent/pass_img2')}" ,
                                                                type: 'POST',
                                                                data: formData,
                                                                async: false,
                                                                cache: false,
                                                                contentType: false,
                                                                processData: false,
                                                                success: function (returndata) {
                                                                    if(returndata=="上传失败"){
                                                                        alert("上传失败")
                                                                        setTimeout("   $(\"#portrai\").attr('src',\"__PUBLIC__/images/1110_03.png\")",10);
                                                                    }else{
                                                                        $('#portrai, #img2').val(returndata);
                                                                        alert('上传成功');
                                                                    }
                                                                },
                                                                error: function (returndata) {
                                                                    alert(returndata);
                                                                }
                                                            });
                                                        })
                                                    </script>

                                                </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email地址：</td>
                                        <td >
                                            <input type="text" class="form-control" name="email" value="{$info.email}" >

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>地址：</td>
                                        <td >
                                            <input type="text" class="form-control" name="address" value="{$info.address}" >

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>电话：</td>
                                        <td >
                                            <input type="text" class="form-control" name="phone_num" value="{$info.phone_num}" >

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>登陆密码：</td>
                                        <td>
                                            <input type="password" class="form-control" name="password" value="{$info.password}" >
                                        </td>
                                    </tr>
                                    <if condition=" ($act eq 'add') OR ($info['admin_id'] gt 1)">
                                        <tr>
                                            <td>所属角色：</td>
                                            <td>
                                                <select name="role_id">
                                                    <volist name="role" id="item">
                                                        <option value="{$item.role_id}" <if condition="$item[role_id] eq $info[role_id]"> selected="selected"</if> >{$item.role_name}</option>
                                                    </volist>
                                                </select>
                                            </td>
                                        </tr></if>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td><input type="hidden" name="act" value="{$act}">
                                            <input type="hidden" name="admin_id" value="{$info.admin_id}">
                                        </td>
                                        <td class="text-right"><input class="btn btn-primary" type="button" onclick="adsubmit()" value="保存"></td></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    var val=$(" #img1 ").val()
    console.log($(" #img1 ").val())
    if(val==""){
        console.log(1)
    }else {
        $("#portrait").attr('src',"/"+val);
    }
    var val=$(" #img2 ").val()
    console.log($(" #img2 ").val())
    if(val==""){
        console.log(1)
    }else {
        $("#portrai").attr('src',"/"+val);
    }
    function adsubmit(){
        if($('input[name=user_name]').val() == ''){
            layer.msg('用户名不能为空！', {icon: 2,time: 1000});   //alert('少年，用户名不能为空！');
            return false;
        }
        if($('input[name=idcard]').val() == ''){
            layer.msg('身份证号码不能为空！', {icon: 2,time: 1000});   //alert('少年，用户名不能为空！');
            return false;
        }
        if($('input[name=email]').val() == ''){
            layer.msg('邮箱不能为空！', {icon: 2,time: 1000});//alert('少年，邮箱不能为空！');
            return false;
        }
        if($('input[name=address]').val() == '' && '{$act}' == 'add'){
            layer.msg('地址不能为空！', {icon: 2,time: 1000});//alert('少年，密码不能为空！');
            return false;
        }
        if($('input[name=password]').val() == '' && '{$act}' == 'add'){
            layer.msg('密码不能为空！', {icon: 2,time: 1000});//alert('少年，密码不能为空！');
            return false;
        }
        if($('input[name=phone]').val() == '' && '{$act}' == 'add'){
            layer.msg('电话不能为空！', {icon: 2,time: 1000});//alert('少年，密码不能为空！');
            return false;
        }
        console.log($('#adminHandle'))

        $('#adminHandle').submit();
    }
</script>
</body>
</html>